<h1>Edit the Book Information</h1>

<%= form_for(@book, url: admin_book_path) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <br>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br>
  <%= f.label :summary %>
  <%= f.text_area :summary %>
  <br>
  <%= f.submit("Save Edited Book") %>
  <br>

<% end %>
