<h1> Title: <%= @book.title %> </h1>
<h2> Author: <%= @book.author %> </h2>
<h3> Price: $<%= @book.price %> </h3>
<h5> Summary: <%= @book.summary %> </h5>
<%= link_to 'Edit Book', edit_admin_book_path(@book) %>
<%= link_to 'Delete Book', admin_book_path(@book), method: :delete %>