<html>
<head>
  <title>Bookworm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
  <div class="container">
    <div class="row">
      <header> 
        <div class="col-sm-6">
           <%= image_tag "bookwormie.png", width: "100%", height:"auto", justify: "left" %>
        </div>
        <div class = "navvy col-sm-6">
         <%= link_to('Sort By Title', root_path({order_by: 'title'}), class: "btn btn-success")  %>
         <%= link_to('Sort By Price', root_path({order_by: 'price'}), class: "btn btn-success") %>
         <%= link_to('Sort By Author', root_path({order_by: 'author'}), class: "btn btn-success") %>
        </div>
      </header>
    </div>
  </div>

<div class="pull-left" 
  <img src="">
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th class="col-md-6">Summary</th>

    </tr>
  </thead>
  <tbody>
    <% @books.each do |b| %>
    <tr>
      <td><%= link_to(b.title, admin_book_path(b)) %></td>
      <td><%= b.author %></td>
      <td>$ <%= b.price %></td>
      <td ><%= b.summary %></td>

    </tr>
  <% end %>
</tbody>
</table>
<br><hr>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "bookshelf.jpg"%>
      <!--<img src="assets/images/bookshelf.jpg" alt="shelves">-->
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag "dickens.jpg"%>
      <!--<img src="assets/images/dickens.jpg" alt="book">-->
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>









</body>
</html>
