Sort By: <%= link_to 'Title', root_path({order_by: 'title'})  %>, 
         <%= link_to 'Price', root_path({order_by: 'price'}) %>, 
         <%= link_to 'Author', root_path({order_by: 'author'}) %>


<h1> All Books </h1>
<% @books.each do |b| %>
<%= b.title%><br>
<%= b.author%><br>
$<%= b.price %><br>
<%= b.summary%><br>
<br><br>
<% end %>

