<ul class="nav nav-pills">
  <li> <%= image_tag "bookwormie.png", width: "60%", height:"auto", justify: "left" %>
  </li>
 
  <li>
    <a href="<%= admin_books_path  %>">Home</a>
  </li>

  <li>
    <a href="<%= new_admin_book_path %>">Add New</a>
  </li>
   
  <%if admin_signed_in? %>
    <li> <%=link_to 'Logout', admin_logout_path, method: :delete %></li>
  <% else %>
    <li>
      <a href=" <%= admin_path %> ">Login</a>
    </li>
  <% end %>
</ul>
