<div class="navvy">

<a href="<%= admin_books_path  %>"><button type="button" class="btn btn-success">Home</button></a>

<a href="<%= new_admin_book_path %>"><button type="button" class="btn btn-success">Add New</button></a>

<%if admin_signed_in? %>
  <a href="<%= admin_logout_path %>" data-method="delete"><button type="button" class="btn btn-success">Logout</button></a>
<% else %>
  <a href="<%= admin_path %>"><button type="button" class="btn btn-success">Login</button></a>
<% end %>

</div>


<%= link_to 'Logout', admin_logout_path, method: :delete %>