<!DOCTYPE html>
<html>
<head>
  <title>Bookworm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
  <div class="container">
    <div class="row">
        <header> 
           <div class="col-sm-6">
             <%= image_tag "bookwormie.png", width: "100%", height:"auto", justify: "left" %>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <%= render 'layouts/navbar' %>
          </div>
        </header>
    </div>
  <div class="row">
      <div class="col-sm-12">
        <div class="flash-messages">
          <p><%= alert %></p>
          <p><%= notice %></p>
        </div>
      <%= yield %>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
        <hr />
        <footer>
         copyright &copy; <%= Time.now.year %>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>
